body {
    font-family: 'Roboto', sans-serif;
   color: #434455;
   background-color: white;
}

ul,
ol {
    list-style: none;
}


.firstlogo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.logo-part2-header {
    
    color: #2e2f42;
    
}
.logo-part2-footer {
    color: #f4f4fd;
}
a {
    text-decoration: none;
}
.menu-header {
    
        font-style: normal;
        
}
.menu-header-link:hover {
    color: #404bbf;
}
.menu-header-link:focus {
    color: #404bbf;
}
.menu-header-link {
    font-weight: 500;
        font-size: 16px;
    
      
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.menu-header-info {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.menu-header-info:hover {
    color: #404bbf;

}

.menu-header-info:focus {
    color: #404bbf;
}
.first-section {
    
        background: #2E2F42;
}
.first-section-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}
.first-section-btn {
    background: #4d5ae5;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
           
}
.first-section-btn:hover{
    background-color: #404BBF ;
    
}
.first-section-btn:focus {
    background-color: #404BBF;
    
}
.section-header2 {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.section-header2-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.section-header-main {
    font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}
.section3-maine {
    background-color: #f4f4fd;
}
.section-header3 {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.section-header3-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.section-header4 {
    font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.02em;
        color: #2E2F42;
        line-height: 1.12;
        text-transform: capitalize;
}
.section-header4-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.section-footer {
   
        background: #2E2F42;
}
.text-footer {
    line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
.section3-main {
    background-color: #F4F4FD;
}