body {
    font-family: 'Roboto', sans-serif;
   color: #434455;
   background-color: white;
}

ul,
ol {
    list-style: none;
}


.firstlogo {
    font-weight: 700;
        font-size: 18px;
    
       
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        font-family: "Raleway", sans-serif;
}
.logo-part2-header {
    font-weight: 700;
        font-size: 18px;
    
    
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
        font-family: "Raleway", sans-serif;
}
.logo-part2-footer {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
        font-family: "Raleway", sans-serif;
}
a {
    text-decoration: none;
}
.menu-header {
    width: 261px;
        height: 24px;
        font-style: normal;
        
}
.menu-header .link:hover {
    color: #404bbf;
}
.menu-header .link:focus {
    color: #404bbf;
}
.menu-header-link {
    font-weight: 500;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.menu-header-link .link:hover {
    color: #404bbf;

}
.menu-header-link .link:focus{
color: #404bbf;
}
.menu-header-info {
    font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.first-section {
    width: 1440px;
        height: 600px;
        background: #2E2F42;
}
.first-section-header {
    font-weight: 700;
    font-size: 56px;

    /* line-height: 60px; */
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}
.first-section-btn {
    font-weight: 500;
        font-size: 16px;
    line-height: 1.5;
        letter-spacing: 0.04em;
        color: white;
        border-radius: 4px;
            padding: 16px 32px;
            width: 169px;
            height: 56px;
            background-color: #4D5AE5;
            cursor: pointer;
           
}
.first-section-btn .link:hover{
    background-color: #404BBF ;
    cursor: pointer;
}
.first-section-btn .link:focus {
    background-color: #404BBF;
    cursor: pointer;
}
.section-header2 {
    font-weight: 500;
        font-size: 20px;
    
        /* line-height: 24px; */
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.section2-maine {
    list-style: none;
    text-align: center;
}
.section-header2-text {
    font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.section-header-main {
    font-weight: 700;
        font-size: 36px;
    
        /* line-height: 40px; */
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        line-height: 1.11;
        text-transform: capitalize;
}
.section-header3 {
    font-weight: 500;
        font-size: 20px;
    
        /* line-height: 24px; */
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}
.section3-maine {
    color: #F4F4FD;
}
.section-header3-text {
    
    font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        background-color: #FFFFFF;
}
.section-header4 {
    font-weight: 500;
        font-size: 20px;
    
        /* line-height: 24px; */
      
        letter-spacing: 0.02em;
        color: #2E2F42;
        line-height: 1.12;
        text-transform: capitalize;
}
.section-header4-text {
    font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.section-footer {
    width: 1440px;
        height: 312px;
        background: #2E2F42;
}
.text-footer {
    font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}
.section3-main {
    background-color: #F4F4FD;
}