body {
    font-family: 'Roboto', sans-serif;
   color: black;
   background-color: white;
}

ul,
ol {
    list-style-type: none;
}
.logo1 {
    font-weight: 700;
        font-size: 18px;
    
        /* line-height: 21px; */
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}
.logo-part2-header {
    font-weight: 700;
        font-size: 18px;
    
        /* line-height: 21px; */
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
}
.logo-part2-footer {
    font-weight: 700;
        font-size: 18px;
    
        /* line-height: 21px; */
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
}
a {
    text-decoration: none;
}
.menu-header {
    width: 261px;
        height: 24px;
}
.menu-header-link {
    font-weight: 500;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.menu-header-info {
    font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.first-section {
    width: 1440px;
        height: 600px;
        background: #2E2F42;
}
.first-section-header {
    font-weight: 700;
    font-size: 56px;

    /* line-height: 60px; */
    line-height: 1.071;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}
.first-section-btn {
    font-weight: 500;
        font-size: 16px;
    line-height: 1.5;
        letter-spacing: 0.04em;
        color: white;
        border-radius: 4px;
            padding: 16px 32px;
            width: 169px;
            height: 56px;
           
}
.section-header2 {
    font-weight: 500;
        font-size: 20px;
    
        /* line-height: 24px; */
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.section-header2-text {
    font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.section-header-main {
    font-weight: 700;
        font-size: 36px;
    
        /* line-height: 40px; */
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}
.section-header3 {
    font-weight: 500;
        font-size: 20px;
    
        /* line-height: 24px; */
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}
.section-header3-text {
    font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.section-header4 {
    font-weight: 500;
        font-size: 20px;
    
        /* line-height: 24px; */
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.section-header4-text {
    font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.section-footer {
    width: 1440px;
        height: 312px;
        background: #2E2F42;
}
.text-footer {
    font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}